body{
    background-color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: ivory;
}
button{
background-color: azure;
border: 3px solid rgb(13, 158, 177);
}
.div_principal{
    background-color: beige;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    color: black;
}
.div_dentro{
    background-color: azure;
    padding: 10px;
    width: 150px;
    text-align: center;
    border: 1px solid gray;
}