*{
    background-color: bisque;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(81, 88, 88);
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    


}
h1{
    color: rgba(0, 255, 234, 0.747); font-family: 'Times New Roman', Times, serif; font-size:50px;
}