@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card__info {
    background-color: #fefefe;
    width: 80%;
    height: 100%;
    padding: 30px 20px;
    margin: 30px 50px;
    margin-left: -70px;
}
.card__info h3 {
    font-family: 'Kumbh Sans', sans-serif;
    color: rgb(255, 125, 26);
    font-weight: bold;
    font-size: 1em;
    margin-top: 30px;
}
.card__info h1 {
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 30px;
}
.card__info p {
    color: #68707d;
}
.card__info span {
    color: rgb(255, 125, 26);
    background-color: rgb(255, 237, 224);
    font-size: 15px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 7px;
}
.card__info h2 {
    text-decoration: line-through;
    font-size: 15px;
    color: #68707d;
    margin-top: 10px;
}
.btn__card {
    background-color: rgb(247, 248, 253);
    color: rgb(255, 125, 26);
    line-height: 1.2em;
    width: 40px;
    height: 40px;
    display: flex;
    border: none;
    border-radius: 3px;
    padding: 5px 30px;
}
.btn__addcar {
    color: rgb(255, 255, 255);
    border-radius: 0.4em;
    width: 200px;
    height: 40px;
    border: none;
    margin-left: 40px;
    padding: 5px 30px;
    margin-top: -30px;
    position: relative;
    float: left;
    font-size: 20px;
    border: none;
    background-color: rgb(255, 125, 26);
    border-bottom: 5px solid rgb(235, 180, 138);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.btn__addcar:hover,
.btn__addcar:active {
    -webkit-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    border-bottom: 1px solid #f5a732;
    background-color: #c7c5c5cd;
    opacity: 0.9;
}
.buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.hover__div_img:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    border-radius: 5px;
    border: 2px solid rgb(244, 152, 81);
    opacity: 0.9;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0, 0, 0, 0.1)));
}
.secondaryImages {
    background-color: #fefefe;
    width: 75%;
    display: flex;
    gap: 30px;
    padding: 20px 20px;
}
.hover__div {
    width: 100%;
}
.hover__div_img {
    width: 100%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    overflow: hidden;
}
.div__card_img {
    background-color: #fefefe;
    width: 70%;
    margin: 30px 50px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principalImg {
    width: 70%;
    height: 70%;
    position: relative;
    overflow: hidden;
    border-radius: 20px
}
.img_principal:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}
img {
    border-radius: 10px;
    width: 100% ;
    height: auto;
}
.btn-previousImage {
    position: absolute;
    top: 50%;
    z-index: 3;
    padding: .70em .8em;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    background-color: var(--white-clr);
}
.btn-nextImage {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 3;
    padding: .70em .8em;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    background-color: var(--white-clr);
}
@media screen and (max-width: 700px){
    .card{
     display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;   
    }
     .card__info{
        
        width: 70%;
        height: 100%;
        margin-left: 50px;
        margin-top: -90px;
     }
    
     .btn__addcar{
        width: 250px;
        margin-top: 50px;
        margin-left: -240px;
     }
    
     .btn__card{
        margin-top: -20px;
        width: 80px;
     }
    
     .card__info h2{
        margin-left: 180px;
        margin-top: -30px;
     }
     .div__card_img{
        width: 200%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        /* background-color: #68707d; */
     }
     .principalImg{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
     }
     
     .secondaryImages{
        background-color: #fefefe;
        width: 100%;
        display: flex;
        /* gap: 30px; */
       
        padding: 20px 10px;
     }
    
     .hover__div_img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-content: stretch; 
        
     }
    
    
    }